* {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2D4A53;
}

/* NAVBAR GROUP */
.nav {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: #0D1f23;
    width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
}
.title {
    color: white;
}
.a-navbar {
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: white;
}
.a-navbar:hover {
    background-color: #132E35;
}

/* HERO GROUP */
.hero {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-hero {
    background-color: #132E35;
    border: 1px solid white;
    border-radius: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.btn {
    display: flex;
    justify-content: center;
}
.button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1f23;
    border-radius: 100px;
    padding: 10px;
    width: 10rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.button-start:hover {
    background-color: #132E35;
}

/* FOOTER SECTION */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #0D1f23;
}